* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-dash: #151B4C;
    --dark-bg: #121212eb;
    --light-bg: #F8F8FA;
    --dark-grn: #347426;
    --light-grn: #D6ECDF;
    --light-red: rgb(202, 46, 33, 0.56);
    --box-shadow: rgb(0, 0, 0, 0.3);
    --light-gry: rgb(240, 240, 240);
    --magenta-icon: #CD60FF;
    --blue-icon: #2690F4;
    --dark-pink: #D844DB;
    --green-icon: #4CB863;
}

body {
    background-color: var(--light-bg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100dvh;
    transition: 0.4s;
    overflow-x: hidden;
}

.dark {
    background-color: var(--dark-bg);
    color: white;
}