* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100dvh;
}

.signUp {
    display: flex;
    flex-direction: column;
}

.invalidPass {
    position: absolute;
}

.signUp > .input-group > button {
    opacity: 0.8;
}