* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-dash: #151B4C;
    --dark-bg: #121212f0;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100dvh;
    transition: 0.4s;
}

.dark {
    background-color: var(--dark-bg);
    color: white;
}

.signUp {
    display: flex;
    flex-direction: column;
}

.invalidPass {
    position: absolute;
}

.signUp > .input-group > button {
    opacity: 0.8;
}