.dashboard {
    width: 100vw;
    min-height: 100dvh;
}

.dashHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    padding-top: 0.5em;
}

.dashTitle {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user {
    width: 8em;
    display: flex;
    align-items: baseline;
    padding: 0.5em 0;
    justify-content: space-evenly;
    transition: 0.5s;
}

.dark .user {
    background-color: var(--blue-dash);
    border: 1px solid black;
    border-radius: 50px;
}

.bell, .magnify, .avatar {
    position: relative;
    transform: scale(0.8);
    cursor: pointer;
}

.bell::after, .magnify::after, .avatar::after {
    content: "";
    position: absolute;
    top: -0.1em;
    left: -0.5em;
    height: 2em;
    width: 2em;
    border: 1.5px solid black;
    border-radius: 50%;
}

.dark .bell::after, .dark .magnify::after, .dark .avatar::after {
    border-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    padding: 0 1em;
}

.subHeader {
    height: 4em;
    width: 90%;
    position: relative;
    padding: 0 1em;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.welcome {
    color: var(--blue-dash);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18em;
}

.dark .welcome {
    color: white;
}

.warehouse {
    height: 2em;
    border: 1.5px solid var(--blue-dash);
    border-radius: 50px;
    padding-left: 1em;
    width: 100%;
}


.subButtons {
    width: 22em;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 0.9em;
}

.dashlet {
    width: 9em;
    height: 2em;
    border: solid var(--blue-dash);
    border-radius: 5px;
    background-color: white;
    font-weight: 500;
    font-size: 1.2em;
    box-shadow: 2px 3px 2px var(--box-shadow);
    transition: 0.3s;
}

.dark .dashlet {
    background-color: var(--blue-dash);
    color: white;
}

.dashlet:hover {
    background-color: lightgrey;
}

.dark .dashlet:hover {
    background-color: #0b134e;
}

.export {
    background-color: var(--light-grn);
    color: var(--dark-grn);
    width: 9em;
    height: 2.5em;
    border-radius: 5px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 3px 3px var(--box-shadow);
    transition: 0.3s;
}

.export:hover, .dark .export {
    background-color: var(--dark-grn);
    color: var(--light-grn);
}

.dark .export:hover {
    background-color: var(--light-grn);
    color: var(--dark-grn);
}

.period {
    width: 95%;
    height: 2em;
    border-radius: 0px;
    border: 1px solid gray;
    padding-left: 0.5em;
    font-weight: 500;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.info > :nth-child(1) {
    background: linear-gradient(35deg, rgb(215, 126, 110), rgb(218, 107, 140));
}

.info > :nth-child(2) {
    background: linear-gradient(35deg, rgb(136, 178, 208), rgb(151, 223, 160));
}

.info > :nth-child(3) {
    background: linear-gradient(45deg, rgb(221, 147, 212), rgb(155, 104, 234));
}

.info > :nth-child(4) {
    background: linear-gradient(45deg, rgb(217, 156, 81), rgb(220, 110, 99));
}

.info > :nth-child(5) {
    background: linear-gradient(115deg, rgb(220, 110, 99), rgb(217, 156, 81));
}

.info > :nth-child(6) {
    background: linear-gradient(120deg, rgb(155, 104, 234), rgb(221, 147, 212));
}

.info > :nth-child(7) {
    background: linear-gradient(115deg, rgb(151, 223, 160), rgb(136, 178, 208));
}

.info > :nth-child(8) {
    background: linear-gradient(125deg, rgb(218, 107, 140), rgb(215, 126, 110));
}

.box {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 1em;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 2px 4px var(--box-shadow);
}

.box :nth-child(1) {
    font-size: 2em;
    font-weight: 800;
}

.productTable {
    max-width: 90%;
    background-color: white;
    box-shadow: 0px 3px 5px var(--box-shadow);
    border-radius: 5px;
    padding: 0.3em;
}

.topSales h2 {
    color: var(--blue-dash);
}

.dark .topSales h2 {
    color: white;
}

.dark .productTable {
    background-color: var(--box-shadow);
}

.dark th, .dark tr {
    color: white;
}

.statusBox {
    background-color: lightgray;
    text-align: center;
    max-width: fit-content;
    padding: 0 0.5em;
    color: black;
}

.actionBox {
    background-color: var(--light-red);
    color: white;
    max-width: fit-content;
    padding: 0.5em;
}

.topRow {
    display: flex;
    justify-content: center;
    max-width: 90vw;
}

.alerts, .users, .purchases {
    font-weight: 500;
    box-shadow: 1px 2px 4px var(--box-shadow);
    height: auto!important;
    border: 0!important;
}

.dark .alerts, .dark .users, .dark .purchases {
    background-color: var(--box-shadow);
    color: white;
}

.alerts p {
    display: flex;
    padding: 0 1.5em;
    gap: 2em;
    align-items: center;
    justify-content: space-around;
}

.alerts span {
    font-weight: 700;
    font-size: 1.5em;
    color: red;
}

.users {
    width: 33%!important;
}

.users .hstack {
    justify-content: center;
}

.usersBox {
    border: 1px solid ;
    border-radius: 15px;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    min-width: 33%;
}

.usersBox i {
    transform: scale(3) translateY(-0.2em);
}

.usersBox h6 {
    font-weight: 800;
}

.users .hstack :nth-child(1) {
    border-color: #4A91FA;
}

.users .hstack :nth-child(1) i {
    color: #4A91FA;
}

.users .hstack :nth-child(2) {
    border-color: #D174EE;
}

.users .hstack :nth-child(2) i {
    color: #D174EE;
}

.users .hstack :nth-child(3) {
    border-color: #198754;
}

.users .hstack :nth-child(3) i {
    color: #FFC107;
}

.purchases {
    width: 33%!important;
}
.purchaseContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em;

}

.purchaseBox {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.2em;
    width: 48%;
}

.purchaseBox :nth-child(1){
    align-items: center;
}

.purchases h6 {
    font-weight: 700;
    font-size: 2em;
}

.bag, .return, .cancel, .delivered {
    height: 4em;
    width: 4em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bag i, .return i, .cancel i, .delivered i {
    transform: scale(2) translateY(-10%);
}

.bag {
    background-color: #CD60FF7F;
}

.bag i {
    color: var(--magenta-icon);
}

.return {
    width: 3em;
    background-color: #40a0f97e;
}

.return i {
    color: var(--blue-icon);
}

.cancel {
    background-color: #96dca47d;
}

.cancel i {
    color: var(--green-icon);
}

.delivered {
    background-color: #d944db5c;
}

.delivered i {
    color: var(--dark-pink);
}

.sales {
    height: auto!important;
    width: 60%!important;
    line-height: 0.5em;
    box-shadow: 0px 3px 5px var(--box-shadow);
    border: 0!important;
    border-radius: 5px;
}

.dark .sales {
    background-color: var(--box-shadow);
    color: white;
}

.bottomRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 90vw;
}

.calendar {
    box-shadow: 1px 2px 4px var(--box-shadow);
}

.dark .calendar {
    background-color: var(--box-shadow);
    color: white;
    border: 0;
}