.app-container{
  /* display: flex; */
  margin: 20px;
}

.itemContainer{
  border:solid 1px transparent;
  border-radius: 10px;
  padding: 10px;
  transition: border-color 0.2s linear;
  align-items: center;
 
  align-content: center;
}

.itemContainer:hover{
  border-color: lightgray;
}

.itemContainer > img{
  width: 300px;
  height: auto;
}

.itemContainer > .content > p:first-child{
  font-weight: bold;
}