.inventoryheader{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.subheader1{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.searchbar{
    display: flex;
    align-items: flex-start;
}

.importfiles{
    display: flex;
    align-items: flex-end;
}

.totalinfo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}


.app-container{
  display: flex;
  margin: 20px;
}

.itemContainer{
  border:solid 1px transparent;
  border-radius: 10px;
  padding: 10px;
  transition: border-color 0.2s linear;
  align-items: center;
  align-content: center;
}

.itemContainer:hover{
  border-color: lightgray;
}

.itemContainer > img{
  width: 300px;
  height: auto;
}

.itemContainer > .content > p:first-child{
  font-weight: bold;
}