.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.login {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
}

.input {
  border: 1px solid black;
}

.forgotPass {
  text-decoration: none;
  color: black;
  position: absolute;
  right: 0;
  top: 7em;
}

.forgotPass:hover {
  text-decoration: underline;
}

.loginBtn {
  width: 50%;
  align-self: center;
  margin-top: 3em;
}

.invalidLogin {
  width: fit-content;
  position: absolute;
  right: 0;
}
