.products {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: orange;
  border-radius: 5px;
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 40px 20px;
  background-color: white;
}

.product-image {
  width: 100%;
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.product-name {
  text-transform: uppercase;
  margin: 10px 0px;
}

.product-price {
  margin: 10px 0px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.product-units {
  margin: 10px 0px;
  padding-bottom: 10px;
  font-size: 18px;
}

.yellow-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.price-tag-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  padding: 10px;
  margin: 5px;
}

/* Add this CSS for the text inside the price tag */
.tag-content {
  display: flex;
  align-items: center;
}

.tag-text {
  margin-left: 5px;
}
