.signUpForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
}

.formHalf {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoHalf {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoGraphic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoGraphic img {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
}

.userField, .businessField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
}

.signUp, .businessForm {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.userField label {
    font-weight: 500;
}

.formInput {
    position: relative;
}

.response {
    text-align: right;
    position: absolute;
    top: 4.2em;
}

.invalidPass {
    text-align: right;
    position: absolute;
    top: 2em;
}

.signUp > .input-group > button {
    opacity: 0.8;
}

.businessBtn {
    border: 2px solid var(--box-shadow);
    border-radius: 5px;
    text-align: left;
    padding: 0.3em 2em;
}

.businessBtn:hover {
    border: 2px solid black!important;
}

.businessForm {
    position: relative;
}

.invalidBusiness {
    position: absolute;
    top: 14em;
    text-align: right;
}

.inventoryField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    width: 80%;
}

.inventoryForm {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 70%;
    position: relative;
}

.invalidInventory {
    position: absolute;
    top: 2em;
    text-align: right;
}

.invalidTeam {
    position: absolute;
    top: 72%;
    text-align: right;
}